<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="utf-8" />
</head>
<body>

	<div class="wrapper">
		<div class="custom_container">
			<h1 style="color: white;">Bienvenido al Sistema</h1>

			<form class="form form-horizontal">
				<input id="username" ng-model="username" type="text" placeholder="Usuario"> 
				<input id="password" ng-model="password" type="password" placeholder="Contraseña">
				<button type="submit" id="login-button" ng-click="login()">Ingresar</button>
				<div><label style="color: white;"><input type="checkbox" ng-model="rememberMe">recordarme</label></div>
			</form>
		</div>

		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>


<!-- 	<script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script> -->
<!-- 	<script src="js/index.js"></script> -->

</body>
</html>